/*  your css code here. If applicable */
.holder{
	width:100vw;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
.box{
	width:200px;
	height:200px;
	background-color:lightblue;
	border:2px solid black;
	display:flex;
	justify-content:center;
	align-items:center;
}
.box>h1{
	color:purple;
}